# chip-generated
upstream {{ svc.name }} {
    {%- for x in  svc.hosts %}
    server {{x.ip}}:{{x.port}};
    {%- endfor %}
}

location /{{ svc.name }} {
    {%- if not auth.bypass %}
    auth_request {{ auth.backend }};
    {%- endif %}
    {%- if svc.is_authorize_backend %}
    proxy_pass_request_body off;
    proxy_set_header Content-Length "";
    proxy_set_header X-Original-URI $request_uri;
    {%- else %}
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_buffers 16 4k;
    proxy_buffer_size 2k;
    {%- endif %}
    proxy_pass http://{{svc.name}};
}
